	<tr {% if secret.hidden or secret.is_broken or secret.deleted %} style="opacity: 0.3;"{% endif %}>
		<td align="right" valign="top">
			<a href="?showapp={{secret.bundle}}">
			{{ secret.display_app|escape }}
			{% if secret.minversion %}<!-- {#and preference.minversion.length#} -->({{ secret.minversion }}){% endif %}
			</a>
		</td>
		<td width="32">
			<img class="icon" src="{{secret.display_icon}}">
		</td>
		<td valign="top">
			<a href="edit?id={{secret.key.id}}" style="{% if secret.hidden or secret.is_broken %}color: gray;{% endif %}">{{secret.title}}</a>
			<br>
			<span class="detail">{{ secret.default_string }}</span>
		</td>
	</tr>